.homeText, .subTextSmall, .subTextMid, .subTextMid1, .subTextMid2{
  color: white;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  z-index: 10;

}

.homeText{
  position: relative;
  font-family: TWCenMTItalic;
  font-size: 400%;
  left: 100px;
  top: 80px;
}

.subTextSmall{
  position: absolute;
  font-family: TWCenMTItalic;
  font-size: 120%;
  /* top: 25%; */
  left: 15%;
  right: 15%;
  top: 35%;
}

.subTextMid1{
  position: absolute;
  font-family: TWCenMTItalic;
  font-size: 320%;
  left: 30%;
  top: 40%;
}

.subTextMid2{
  position: absolute;
  font-family: TWCenMTItalic;
  font-size: 320%;
  left: 50%;
  top: 40%;
}

/* unvisited link */
a:link {
    color: white;
}
/* visited link */
a:visited {
    color: white;
}
/* selected link */
a:active {
    color: white;
}

@font-face {
  font-family: TWCenMT;
  src: url(media/tw-cen-mt-std/TwCenClassMTStd-Regular.otf);
}

@font-face {
  font-family: TWCenMTItalic;
  src: url(media/tw-cen-mt-std/TwCenMtStd-Italic.otf);
}

body  {
    background-image: url("media/nature.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    left: -32px;
    top: -18px;
}

#particles-js{
  height: 100%;
}
