.announceText, .subTextSmall, .subTextMid, .subTextBig{
  font-family: Montserrat;
  color: white;
  left: 10%;
  z-index: 10;
}

.announceText{
  font-size: 400%;
}

.subTextSmall{
  font-size: 90%;
  right: 10%;
  /* top: 25%; */
}

.subTextMid{
  font-size: 170%;
  /* top: 30%; */
}

.subTextBig{
  font-size: 370%;
  /* top: 40%; */
}

/* unvisited link */
a:link {
    color: white;
}
/* visited link */
a:visited {
    color: white;
}
/* selected link */
a:active {
    color: white;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
}

body  {
    background-image: url("media/spaceNetNoBlur.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

#particles-js{
  height: 100%;
}
