html, body { height: 100%; width: 100%; margin: 0; }

.landing{
  z-index: 5;
  position: absolute;
  text-align: center;
  left: 9.06015625%;
  top: 26.16888888888889%;
  width: 79.4875%;
  height: 16.092222222222226%;
}

.landingText{
  z-index: 5;
  font-family: 'Lato', sans-serif;
  /* font-size 1em = 10px on default browser settings */
  font-weight: 300;
  font-size: 7em;
  color: white;
}

.landingSubText{
  z-index: 5;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  color: white;
  font-weight: 300;
  opacity: 0.7;
}

.singleContent{
  position: relative;
  width: 50vw;
  height: 50vw;
  text-align: center;
  margin: 0px;
  float: left;
}

.whiteSpaceMid{
  color: #00000080;
  position: relative;
  top: 25%;
  z-index: 5;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2vw;
  text-align: center;
}

a {
  color: black;
}

.block1{
  overflow: hidden;
}

.block2{
  overflow: hidden;
}
